go mod init github.com/Deo-Mugabe/GOLANG/tree/main/RestAPi/FirstFullStack
go get github.com/gofiber/fiber/v2

// for auto rebuild without restarting app
go install github.com/air-verse/air@latest

air

load environment variable

go get github.com/joho/godotenv


go get go.mongodb.org/mongo-driver/mongo

mongo pwd = Sn85AsaICWWhvQxy



At its core, @tanstack/react-query (formerly known as React Query) is a library designed to simplify data fetching, caching, and management within React applications. It offers a suite of tools to streamline how you handle asynchronous data operations in your React components. Here's a breakdown of its key functionalities: