go mod init github.com/Deo-Mugabe/GOLANG/tree/main/RestAPi/FirstFullStack
go get github.com/gofiber/fiber/v2

// for auto rebuild without restarting app
go install github.com/air-verse/air@latest

air

load environment variable

go get github.com/joho/godotenv